@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
    width: 0; 
    height: 0; 
}

html {
    scrollbar-width: none;
}

body {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    background: linear-gradient(to bottom, #010116, #332fee);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: scroll; 
    scrollbar-width:none; 
}
body.loaded {
    opacity: 1;
}
.content {
    text-align: center;
    margin-top: 50px;
}

header {
    text-align: center;
    padding: 20px 0;
    color: white;
}

nav ul {
    margin-top: 25px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 75px;
}

nav ul li a {
    color: white; 
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

h1 {
    margin-top: 30px;
    font-size: 56px;
    color: white;
}

nav ul li {
    display: inline;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.section {
    margin: 50px 0;
}
#about p{
    font-size: 20px;
}

h2 {
    margin-bottom: 20px;
}



.main-content {
    background-color: white;
    width: 90%;
    max-width: 1500px;
    padding: 20px;
    margin: 60px auto; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}

section {
    padding: 20px;
    text-align: center;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #1f1f71;
}

section p {
    font-size: 1.1em;
    color: #333;
}



.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); /* Adapta automaticamente as colunas */
    gap: 50px;
    justify-items: center;
    padding: 50px;
}



.project {
    text-align: center; 
    position: relative; 
    padding: 40px;
    margin: 20px;
}

.project img {
    width: 400px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out ;
}

.project:hover img {
    transform: scale(1.05); 
}

.project h3 {
    margin: 0; 
    margin-bottom: 10px;
    font-size: 27px; 
    color: #0c007c; 
}

.project p {
    color: #666; 
    margin-top: 20px;
}

p {
    font-size: 20px;
    color: #333;
}

#contact {
    color: rgb(0, 0, 0);
    padding: 60px 0;
}

#contact h2 {
    color: #1f1f71;
}


@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr; 
    }

    .project-grid {
        flex-direction: column;
        align-items: center;
    }
}

.carousel-container {
    position: relative;
    overflow: hidden; 
    width: 100%;
}

.carousel-item {
    position: relative;
    margin-right: 1px; 
}

.carousel-item img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 3, 192, 0.493);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.carousel-item:hover .overlay {
    opacity: 1; 
}

footer {
    background-color: #000125;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: rgb(181, 185, 206);
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .project-grid, .project-grid {
        grid-template-columns: 1fr; 
    }
}
